
<!DOCTYPE html>
<html ng-app="SistemaDeMusicas">

  <head>

    <meta charset="utf-8">
    <title>SistemaDeMusicas</title>

    <link rel="stylesheet" href="./lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./css/modo.css">

    
    <script src="lib/angular/angular.js"></script>
    <script src="js/controller.js"></script>
  </head>

 <body background="imagem/imagem3.jpg" class="center-block container text-center" ng-controller="sistemaCtrl">

<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{app}}</a>
            <a class="navbar-btn btn btn" href="#" onclick="location.href = 'https://github.com/samarasss/SiLab01';">Meu repositório do GitHub.com</a>
        </div>
    </div>
</nav>

    <!--<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Digite o nome do artista que quer pesquisar: "/>
    <table ng-show="artistas.length > 0" class="table table-striped">
         <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="artista in artistas | filter:criterioDeBusca">

         <td><input type="checkbox" ng-model="artista.selecionado"/></td>
                <td>{{artista.nomeArtista}}</td>
                <td>{{artista.imagem}}</td>

<!--<button class="btn btn-primary btn-block" ng-click="pesquisarArtista(nome)" ng-disabled="nome.length == 0">Pesquisar Artista</button>-->


<p> </p>

 <div class="jumbotron">
        <input class="form-control" type="text" ng-model="nomeArtista" placeholder="Artista"/>
        <input class="form-control" type="text" ng-model="imagemArtista" placeholder="Imagem"/>
        <button class="btn btn-primary btn-block " ng-click="adicionarArtista(nomeArtista, imagemArtista)" ng-disabled = "!nomeArtista || !imagemArtista ">Adicionar Artista</button>



    </div>

     <div class="jumbotron">

      <input class="form-control" type="text" ng-model="nomeMusica"  placeholder="Música"/>
      <input class="form-control" type="text" ng-model="artistaMusica" placeholder="Cantor"/>
      <input class="form-control" type="text" ng-model="duracao" ng-required = "duracao" placeholder="Duração"/>
      <input class="form-control" type="text" ng-model="anoLancamento" ng-required = "anoLancamento" placeholder="Ano de Lançamento"/>
      <input class="form-control" type="text" ng-model="albumMusica" ng-required = "albumMusica" placeholder="Album que deseja adicionar"/>

      <button class="btn btn-primary btn-block" ng-click="adicionarMusica(nomeMusica, artistaMusica, albumMusica, anoLancamento, duracao)" ng-disabled = "!nomeMusica || !artistaMusica || !duracao || !anoLancamento ||!albumMusica"> Adicionar Musica</button>

     </div>

     <p> </p>

 <!--<div class="jumbotron">
        <input class="form-control" type="text" ng-model="nomePlaylist" placeholder="Nome Da PlayList"/>
        <button class="btn btn-primary btn-block " ng-click="adicionarArtista(nomeArtista, imagemArtista)">Adicionar Artista</button>



    </div>-->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Área de Pesquisa</a>
        </div>
    </div>
    <input class="form-control" type="text" ng-model="artista" placeholder="Digite o nome do artista que quer pesquisar: "/>
    <button type="button" class="btn btn-primary btn-block" ng-click="pesquisarArtista(artista)">Digite o nome do artista que quer pesquisar</button>
    <table class="table table-striped">


            <tr>
                <th class="nomeColuna">Artista</th>
                
            </tr>
         
            <tr ng-repeat="artista in pesquisarArtista(artista) | filter:nomeArtistaBuscado">
        <td class="blocoNome"><span data-toggle="modal" data-target = "#infoArtista" ng-click="selecionar(artista)" >{{artista.nomeArtista}}</span></td>

        
    </table>
</nav>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Artistas</a>
        </div>
    </div>
    <table class="table table-striped">
            <tr>
                <th class="nomeColuna">Artista</th>
                <th class="nomeColuna">Imagem</th>
                <th class="nomeColuna"></th>
            </tr>
            <tr ng-repeat="artista in artistas">
                <td>{{artista.nomeArtista}}</td>
                <td><img ng-src="{{artista.imagemArtista}}"  width="80" height="90" class="imagemArtista"></td>
                <td><button type="button"  class="btn btn-success btn-block" ng-click="adicionarAosFavoritos(artista)">Adicionar aos Favoritos</button></td>
    </table>
</nav>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Favoritos</a>
        </div>
    </div>
    <table class="table table-striped">
            <tr>
                <th class="nomeColuna">Artista</th>
                <th class="nomeColuna">Imagem</th>
                <th class="nomeColuna"></th>
            </tr>
            <tr ng-repeat="favorito in favoritos">
                <td>{{favorito.artista.nomeArtista}}</td>
                <td><img ng-src="{{favorito.artista.imagemArtista}}" width="80" height="90" class="imagemArtista"></td>
            <td><button type="button"  class="btn btn-danger btn-block" ng-click="excluirFavorito(favorito)">Excluir dos Favoritos</button></td>
    </table>
</nav>

<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Músicas</a>
        </div>
    </div>
    <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Artista</th>
                <th>Duração</th>
                <th>Ano de Lançamento</th>
                <th>Album</th>
            </tr>
            <tr ng-repeat="musica in musicas">
                <td>{{musica.nome}}</td>
                <td>{{musica.artista}}</td>
                <td>{{musica.duracao}}</td>
                <td>{{musica.anoLancamento}}</td>
                <td>{{musica.album}}</td>
</nav>-->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Músicas</a>
        </div>
    </div>
    <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Artista</th>
                <th>Duração</th>
                <th>Ano de Lançamento</th>
                <th>Album</th>
                <th></th>
            </tr>
            <tr ng-repeat="musica in musicas">
                <td>{{musica.nome}}</td>
                <td>{{musica.artista}}</td>
                <td>{{musica.duracao}}</td>
                <td>{{musica.anoLancamento}}</td>
                <td>{{musica.album}}</td>
                <td><button type="button"  class="btn btn-success btn-block" ng-click="adicionarMusicaNaPlaylist(musica)">Adicionar à Playlist</button></td>
    </table>
</nav>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Playlist</a>
        </div>
    </div>
    <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Artista</th>
                <th>Duração</th>
                <th>Ano de Lançamento</th>
                <th>Album</th>
                <th></th>
            </tr>
            <tr ng-repeat="musica in playlist">
                <td>{{musica.nome}}</td>
                <td>{{musica.artista}}</td>
                <td>{{musica.duracao}}</td>
                <td>{{musica.anoLancamento}}</td>
                <td>{{musica.album}}</td>
                <td><button type="button"  class="btn btn-danger btn-block" ng-click="excluirMusicaPlaylist(musica)">Remover da Playlist</button></td>
    </table>
</nav>



<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Músicas</a>
        </div>
    </div>
    <table class="table table-striped">
            <tr>
                <th>Artista</th>
                <th>Imagem</th>
                <th></th>
            </tr>
            <tr ng-repeat="favorito in favoritos">
                <td>{{favorito.artista.nomeArtista}}</td>
                <td><img ng-src="{{favorito.artista.imagemArtista}}" class="imagemArtista"></td>
            <td><button type="button"  class="btn btn-danger btn-block" ng-click="excluirFavorito(favorito)">Excluir dos Favoritos</button></td>
    </div>
</nav>-->



</body>
</html>
