
<!DOCTYPE html>
<html ng-app="SistemaDeMusicas">

  <head>

    <meta charset="utf-8">
    <title>SistemaDeMusicas</title>

    <link rel="stylesheet" href="./lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./css/modo.css">

    
    <script src="lib/angular/angular.js"></script>
    <script src="js/controller.js"></script>
  </head>

 <body background="imagem/imagem3.jpg" class="center-block container text-center" ng-controller="sistemaCtrl">

<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{app}}</a>
            <a class="navbar-btn btn btn" href="#" onclick="location.href = 'https://github.com/samarasss/SiLab1';">Meu repositório do GitHub.com</a>
        </div>
    </div>
</nav>

    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Digite o nome do artista que quer pesquisar: "/>
    <table ng-show="artistas.length > 0" class="table table-striped">
         <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="artista in artistas | filter:criterioDeBusca">

         <td><input type="checkbox" ng-model="artista.selecionado"/></td>
                <td>{{artista.nomeArtista}}</td>
                <td>{{artista.imagem}}</td>

<!--<button class="btn btn-primary btn-block" ng-click="pesquisarArtista(nome)" ng-disabled="nome.length == 0">Pesquisar Artista</button>-->


<p> </p>

 <div class="jumbotron">
        <input class="form-control" type="text" ng-model="nomeArtista" placeholder="Artista"/>
        <input class="form-control" type="text" ng-model="imagemArtista" placeholder="Imagem"/>
        <button class="btn btn-primary btn-block " ng-click="adicionarArtista(nomeArtista, imagemArtista)" ng-disabled = "!nomeArtista || !imagemArtista ">Adicionar Artista</button>



    </div>

     <div class="jumbotron">

      <input class="form-control" type="text" ng-model="nomeMusica"  placeholder="Música"/>
      <input class="form-control" type="text" ng-model="artistaMusica" placeholder="Cantor"/>
      <input class="form-control" type="text" ng-model="duracao" ng-required = "duracao" placeholder="Duração"/>
      <input class="form-control" type="text" ng-model="anoLancamento" ng-required = "anoLancamento" placeholder="Ano de Lançamento"/>
      <input class="form-control" type="text" ng-model="albumMusica" ng-required = "albumMusica" placeholder="Album que deseja adicionar"/>

      <button class="btn btn-primary btn-block" ng-click="adicionarMusica(nomeMusica, artistaMusica, albumMusica, anoLancamento, duracao)"> Adicionar Musica</button>

     </div>

     <p> </p>

 <!--<div class="jumbotron">
        <input class="form-control" type="text" ng-model="nomePlaylist" placeholder="Nome Da PlayList"/>
        <button class="btn btn-primary btn-block " ng-click="adicionarArtista(nomeArtista, imagemArtista)">Adicionar Artista</button>



    </div>-->


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Artistas</a>
        </div>
    </div>
    <table class="table table-striped">
            <tr>
                <th>Artista</th>
                <th>Imagem</th>
                <th></th>
            </tr>
            <tr ng-repeat="artista in artistas">
                <td>{{artista.nomeArtista}}</td>
                <td><img ng-src="{{artista.imagemArtista}}" class="imagemArtista"></td>
                <td><button type="button"  class="btn btn-success btn-block" ng-click="adicionarAosFavoritos(artista)">Adicionar aos Favoritos</button></td>
                <div id="informacoesDoArtista{{$index}}" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title alinhacentro">{{artista.nome}}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                 
                                   
                                    <div class="col-md-70 info alinhacentro">
                                        <p><b>Média:</b> {{artista.imdbRating}}</p>
                                        <p><b>Classificação:</b> {{artista.Rated}}</p>
                                        <div class="input-group input alinhacentro">
                                            <input ng-model="nota" type="text" class="form-control" placeholder="Exemplo: 7.8">
                                            <div class="input-group-btn">
                                                <button class="btn btn-basic" type="submit" ng-click="avaliarArtista(artista,nota)">
                                                    <i>Ok</i>
                                                </button>
                                            </div>
                                        </div>
                                        <p><b>Sua Nota:</b> {{artista.avaliacaoUsuario}}</p>
                                        <div class="input-group input alinhacentro">
                                            <input ng-model="lastep" type="text" class="form-control" placeholder="Exemplo: S2-E3">
                                            <div class="input-group-btn">
                                                <button class="btn btn-basic" type="submit" ng-click="alterarUltimaMusica(artista,lastep)">
                                                    <i>Ok</i>
                                                </button>
                                            </div>
                                        </div>
                                        <p><b>Última Música Ouvida:</b> {{artista.ultimaMusica}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</nav>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Favoritos</a>
        </div>
    </div>
    <table class="table table-striped">
            <tr>
                <th>Artista</th>
                <th>Imagem</th>
                <th></th>
            </tr>
            <tr ng-repeat="favorito in favoritos">
                <td>{{favorito.artista.nomeArtista}}</td>
                <td><img ng-src="{{favorito.artista.imagemArtista}}" class="imagemArtista"></td>
            <td><button type="button"  class="btn btn-danger btn-block" ng-click="excluirFavorito(favorito)">Excluir dos Favoritos</button></td>
    </div>
</nav>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Área de Pesquisa</a>
        </div>
    </div>
    <table class="table">
       <!-- <h1 ng-if="!verificarArtistaExiste()" class="naoencontrou">Artista não encontrado</h1> -->
        <tr ng-repeat="artista in artistas">
            <td>{{artista.nome}}</td>
           <!-- <td><img ng-src="{{serie.Poster !== 'N/A' ? serie.Poster:'http://mteliza.vic.cricket.com.au/files/819/images/imageNotAvailable.jpg'}}" height="300" width="200"></td>-->
            <td><button type="submit"  class="btn-success" ng-click="adicionarAosFavoritos(artista)">Adicionar aos Favoritos</button></td>
        </tr>
    </table>
</nav>

<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Músicas</a>
        </div>
    </div>
    <table class="table table-striped">
            <tr>
                <th>Artista</th>
                <th>Imagem</th>
                <th></th>
            </tr>
            <tr ng-repeat="favorito in favoritos">
                <td>{{favorito.artista.nomeArtista}}</td>
                <td><img ng-src="{{favorito.artista.imagemArtista}}" class="imagemArtista"></td>
            <td><button type="button"  class="btn btn-danger btn-block" ng-click="excluirFavorito(favorito)">Excluir dos Favoritos</button></td>
    </div>
</nav>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Músicas</a>
        </div>
    </div>
    <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Artista</th>
                <th>Duração</th>
                <th>Ano de Lançamento</th>
                <th>Album</th>
                <th></th>
            </tr>
            <tr ng-repeat="musicas in favoritos">
                <td>{{favorito.artista.nomeArtista}}</td>
                <td><img ng-src="{{favorito.artista.imagemArtista}}" class="imagemArtista"></td>
            <td><button type="button"  class="btn btn-danger btn-block" ng-click="excluirFavorito(favorito)">Excluir dos Favoritos</button></td>
    </div>
</nav>
-->
  </body>
</html>
